node_modules
.env
.vscode/

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

/v0-SepoliaTestet

/ignition

/arbitrage-scripts/pairesV2
/arbitrage-scripts/debug-paires

/scripts-bis
